@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HelveticaNow";
  src: url(/fonts/subset-HelveticaNowText-BoldIt.woff2) format("woff2"),
    url(/fonts/subset-HelveticaNowText-BoldIt.woff) format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "HelveticaNow";
  src: url(/fonts/subset-HelveticaNowText-It.woff2) format("woff2"),
    url(/fonts/subset-HelveticaNowText-It.woff) format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "HelveticaNow";
  src: url(/fonts/subset-HelveticaNowText-Regular.woff2) format("woff2"),
    url(/fonts/subset-HelveticaNowText-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "HelveticaNow";
  src: url(/fonts/subset-HelveticaNowDisplay-Black.woff2) format("woff2"),
    url(/fonts/subset-HelveticaNowDisplay-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "HelveticaNow";
  src: url(/fonts/subset-HelveticaNowText-Bold.woff2) format("woff2"),
    url(/fonts/subset-HelveticaNowText-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

/* NProgress */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: theme("colors.primary");

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px theme("colors.primary"), 0 0 5px theme("colors.primary");
  opacity: 1;

  transform: rotate(3deg) translate(0px, -4px);
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer base {
  a {
    @apply text-primary hover:underline;
  }

  body {
    @apply text-slate-900 bg-slate-50 dark:text-slate-50 dark:bg-slate-800;
  }

  [type="text"]:focus,
  [type="email"]:focus,
  [type="url"]:focus,
  [type="password"]:focus,
  [type="number"]:focus,
  [type="date"]:focus,
  [type="datetime-local"]:focus,
  [type="month"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="time"]:focus,
  [type="week"]:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    box-shadow: none;
  }
}

@layer components {
  .page {
    @apply grid max-w-3xl min-h-screen px-4 m-auto sm:px-12;
    grid-template-rows: max-content auto max-content;
  }
}
