<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>webView</key>
	<dict>
		<key>userScript</key>
		<string>window.config = { platform: &apos;ios&apos; }</string>
		<key>isRTL</key>
		<false/>
		<key>backgroundColor</key>
		<string></string>
		<key>useTopSafeArea</key>
		<true/>
		<key>useBottomSafeArea</key>
		<true/>
		<key>url</key>
		<string>https://yourssincerely.org</string>
		<key>customUserAgent</key>
		<string></string>
		<key>waitUntilLoaded</key>
		<true/>
		<key>allowPullToRefresh</key>
		<true/>
		<key>allowBounce</key>
		<true/>
		<key>allowCache</key>
		<true/>
		<key>allowZoom</key>
		<false/>
		<key>allowVideoPlayInline</key>
		<true/>
		<key>allowLinkPreview</key>
		<true/>
		<key>allowBackForwardSwipe</key>
		<true/>
		<key>allowPictureInPicture</key>
		<true/>
		<key>openAllExternalLinks</key>
		<false/>
		<key>customURLSchemes</key>
		<array>
			<string>itunes.apple.com</string>
			<string>telprompt</string>
			<string>sms</string>
			<string>mailto</string>
			<string>comgooglemaps</string>
			<string>whatsapp</string>
			<string>tel</string>
		</array>
		<key>externalLinks</key>
		<array>
			<string></string>
		</array>
	</dict>
	<key>toolbar</key>
	<dict>
		<key>isEnabled</key>
		<false/>
		<key>backgroundColor</key>
		<string></string>
		<key>buttonColor</key>
		<string></string>
		<key>customButtons</key>
		<array>
			<dict>
				<key>title</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>navigationBar</key>
	<dict>
		<key>isEnabled</key>
		<false/>
		<key>isStatusBarLight</key>
		<true/>
		<key>backgroundColor</key>
		<string></string>
		<key>titleColor</key>
		<string></string>
		<key>enableProgress</key>
		<true/>
		<key>progressColor</key>
		<string></string>
		<key>rightButton</key>
		<dict>
			<key>title</key>
			<string>share</string>
			<key>url</key>
			<string></string>
		</dict>
	</dict>
	<key>oneSignal</key>
	<dict>
		<key>isEnabled</key>
		<false/>
		<key>appId</key>
		<string></string>
		<key>restApiKey</key>
		<string></string>
	</dict>
	<key>adMob</key>
	<dict>
		<key>isEnabled</key>
		<false/>
		<key>appId</key>
		<string></string>
		<key>bannerUnitID</key>
		<string></string>
		<key>interstitialUnitID</key>
		<string></string>
		<key>rewardedUnitID</key>
		<string></string>
	</dict>
	<key>rateMyApp</key>
	<dict>
		<key>isEnabled</key>
		<true/>
		<key>promptForReviewCounter</key>
		<integer>15</integer>
	</dict>
	<key>font</key>
	<dict>
		<key>name</key>
		<string></string>
		<key>size</key>
		<integer>16</integer>
	</dict>
	<key>gps</key>
	<dict>
		<key>isEnabled</key>
		<false/>
		<key>willRequestAlways</key>
		<false/>
	</dict>
	<key>activityIndicator</key>
	<dict>
		<key>isEnabled</key>
		<false/>
		<key>splashProgress</key>
		<false/>
		<key>splashContentMode</key>
		<integer>2</integer>
		<key>message</key>
		<string></string>
		<key>type</key>
		<integer>3</integer>
		<key>backgroundColor</key>
		<string>000000</string>
		<key>progressColor</key>
		<string>FFFFFF</string>
	</dict>
	<key>inAppPurchase</key>
	<dict>
		<key>isEnabled</key>
		<false/>
		<key>productId</key>
		<string></string>
	</dict>
	<key>facebook</key>
	<dict>
		<key>isEnabled</key>
		<false/>
		<key>facebookID</key>
		<string></string>
	</dict>
	<key>sideMenu</key>
	<dict>
		<key>isEnabled</key>
		<false/>
		<key>backgroundColor</key>
		<string>f8f8f8</string>
		<key>buttonColor</key>
		<string>000000</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>freshchat</key>
	<dict>
		<key>isEnabled</key>
		<false/>
		<key>appId</key>
		<string></string>
		<key>appKey</key>
		<string></string>
	</dict>
</dict>
</plist>
