@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HelveticaNow";
  src: url(/fonts/subset-HelveticaNowText-BoldIt.woff2) format("woff2"),
    url(/fonts/subset-HelveticaNowText-BoldIt.woff) format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "HelveticaNow";
  src: url(/fonts/subset-HelveticaNowText-It.woff2) format("woff2"),
    url(/fonts/subset-HelveticaNowText-It.woff) format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "HelveticaNow";
  src: url(/fonts/subset-HelveticaNowText-Regular.woff2) format("woff2"),
    url(/fonts/subset-HelveticaNowText-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "HelveticaNow";
  src: url(/fonts/subset-HelveticaNowDisplay-Black.woff2) format("woff2"),
    url(/fonts/subset-HelveticaNowDisplay-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "HelveticaNow";
  src: url(/fonts/subset-HelveticaNowText-Bold.woff2) format("woff2"),
    url(/fonts/subset-HelveticaNowText-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@layer base {
  a {
    @apply text-primary hover:underline;
  }

  body {
    @apply text-slate-900 bg-slate-50 dark:text-slate-50 dark:bg-slate-800;
  }

  [type="text"]:focus,
  [type="email"]:focus,
  [type="url"]:focus,
  [type="password"]:focus,
  [type="number"]:focus,
  [type="date"]:focus,
  [type="datetime-local"]:focus,
  [type="month"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="time"]:focus,
  [type="week"]:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    box-shadow: none;
  }
}

@layer components {
  .page {
    @apply max-w-3xl m-auto grid min-h-screen px-4 sm:px-12;
    grid-template-rows: max-content auto max-content;
  }

  .tooltip {
    @apply !py-2 !px-3 !shadow-md !text-slate-50 !text-xs !rounded-md !m-0;
    border: none !important;
    background: theme("colors.slate.800") !important;
    transition: opacity 0.2s ease, box-shadow 0.2s ease !important;
  }

  .tooltip::before,
  .tooltip::after {
    content: none !important;
  }

  .dark .tooltip {
    background: theme("colors.slate.900") !important;
  }
}
